<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ComponentArt.Web.UI" version="2010.1.2637.35" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net452" />
  <package id="ITHit.WebDAV.Server" version="2.1.1.108" targetFramework="net452" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net452" />
  <package id="Mvp.Xml" version="2.0.2158.1055" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="NSubstitute" version="1.9.2.0" targetFramework="net452" />
  <package id="RadEditor.Net2" version="7.2.0.0" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="Sitecore.CMS.Core.API" version="10.0.0.209-r160729" targetFramework="net452" />
  <package id="Sitecore.Logging.API" version="8.1.0" targetFramework="net452" />
  <package id="Sitecore.Nexus" version="1.0.4412" targetFramework="net452" />
  <package id="Sitecore.NVelocity" version="7.0.0.1-r160219" targetFramework="net452" />
  <package id="Sitecore.Zip" version="8.1.0.0" targetFramework="net452" />
  <package id="Telerik.Web.UI" version="2015.1.401.45" targetFramework="net452" />
</packages>